[Desktop Entry]
Type=Application
Exec="/home/linux/.config/autostart/brt.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Brightness Script
